/* primary text color #757575; */
/* secondary text color #212121 */
/* accent text color #2196F3 */
/* white color #FFFFFF */

/* Main styles */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text: #2196f3;
  --white-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
}

/* Logo styles */
.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
.logo > .header {
  color: #000000;
}
.logo > .footer {
  color: #ffffff;
}

/* Styles for links in header */
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.site-nav .current {
  color: var(--accent-text);
}
.site-nav .link:hover,
.site-nav .link:focus,
.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-text);
}
.nav-contacts .link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* Hero with temporary background*/
.hero {
  background: #2f303a;
  text-align: center;
}
.hero-title {
  color: var(--white-color);
  background: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: var(--white-color);
  background: var(--accent-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
  background: #188ce8;
}
/* Sections */
/* Hidden titles */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.advatages-title {
  color: var(--secondary-text-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team {
  background: #f5f4fa;
  text-align: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* Styles for footer. With temporary background*/
.footer,
address {
  color: var(--white-color);
  background: #2f303a;
  font-style: normal;
}
.footer-contacts {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-text);
}

/* Styles for PORTFOLIO page */

.filter:hover,
.filter:focus {
  color: var(--white-color);
  background-color: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter {
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.filter-list {
  font-size: 16px;
  line-height: 1.87;
}
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
